@import 'uikit/uikit.theme.less';

// Import Custom Fonts
@import 'fonts.less';

// Overrides For the Playground
@offcanvas-bar-background: #fff;
@offcanvas-bar-color-mode: dark;

// Bridge Variables for Theme Controller
@button-border-radius: 0;
@input-border-radius: 0;
@card-border-radius: 0;

// Apply Variables via UIkit Hooks
.hook-button() {
	border-radius: @button-border-radius;
}

.hook-form() {
	border-radius: @input-border-radius;
}

.hook-card() {
	border-radius: @card-border-radius;
	// Also apply to media top/bottom if they exist inside the card
	overflow: hidden;
}

// Dimming/Disable the UI while compiling variables changes
.tp-wrapper[data-compiling='true'] {
	opacity: 0.5;

	input,
	select {
		pointer-events: none;
	}
}
